<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>com.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/ab</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>B</servlet-name>
    <servlet-class>com.ForgetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/av</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C</servlet-name>
    <servlet-class>com.AdminSin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>D</servlet-name>
    <servlet-class>com.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/ac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E</servlet-name>
    <servlet-class>com.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>F</servlet-name>
    <servlet-class>com.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F</servlet-name>
    <url-pattern>/addp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>G</servlet-name>
    <servlet-class>com.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>H</servlet-name>
    <servlet-class>com.AddSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H</servlet-name>
    <url-pattern>/sea</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>I</servlet-name>
    <servlet-class>com.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>J</servlet-name>
    <servlet-class>com.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>J</servlet-name>
    <url-pattern>/abcd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>K</servlet-name>
    <servlet-class>com.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>K</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>L</servlet-name>
    <servlet-class>com.UserS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>L</servlet-name>
    <url-pattern>/UserS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>M</servlet-name>
    <servlet-class>com.UserFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M</servlet-name>
    <url-pattern>/UserFilter</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>N</servlet-name>
  <servlet-class>com.Addcart</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>N</servlet-name>
  <url-pattern>/Addcart</url-pattern>
  </servlet-mapping>
</web-app>